In [ ]:
def print_pyramid(N):
    for i in range(1, N + 1):
        # Print leading spaces
        print(" " * (N - i), end="")
        # Print stars
        print("* " * i)

# Example usage:
N = 3
print_pyramid(N)

  *
 * *
* * *

LOOPS : "For loop" It has a potential  to iterate over the items present in a sequence, such as lists, tuples, dictionaries or strings.

A for loop uses **range()** function to iterate for a specific amount of time.

**Syntax of a For Loop**

Syntax:

for **iterator_variable** in **sequence**:

          statement(s)

Rest of thr code

In [ ]:
s = 'simplilearn'
for i in s:
  print(i)

s
i
m
p
l
i
l
e
a
r
n

In [ ]:
s = 'Simplilearn'
for i in s:
  print(i, end="*")

S*i*m*p*l*i*l*e*a*r*n*

In [ ]:
# Use of for loop in list
programming = ["Java", "python", "Ruby", "HTML"]
for iter in programming:
  print(iter)

Java
python
Ruby
HTML

In [ ]:
list_num = [20,24,45,10,50]
sum = 0
for i in list_num:
    sum = sum + i
print("Sum =", sum)
print("Average =", sum/len(list_num))

Sum = 149
Average = 29.8

In [ ]:
# For loop using tuple
num = (30, 45, 60, 50, 70)
sum = 0
for i in num:
  sum = sum + i
print(sum)

255

In [ ]:
# range function

for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10, 2):
  print("Diaplay value with step size of 2:", i)

Diaplay value with step size of 2: 0
Diaplay value with step size of 2: 2
Diaplay value with step size of 2: 4
Diaplay value with step size of 2: 6
Diaplay value with step size of 2: 8

In [ ]:
# program to print table of a given number
n = int(input("ENter the number "))
for i in range(1,11):
  mul = n*i
  print(n, "*",i,"=",mul)

ENter the number 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
#14:11